<!DOCTYPE html>
<html>
    <head></head>
    <body ng-app="announcementBoardApp">
        <div ng-controller="TrackerController">
            <form ng-submit="addAnnouncement()" name="announcementForm">
                <input type="text" placeholder="Title of your announcement" ng-model="announcementTitle" />
                <textarea ng-mode="announcement" placeholder="Say something very long"></textarea>
                <button>Announce!</button>
            </form>
            <hr />
            <p ng-repeat="announcement in announcements | orderBy: 'created':true">
                <time>{{ announcement.created | date:'dd-MM-yyyy HH:mm' }}</time>
                <span>announcement.username</span>
                <span>announcement.title</span>
                <span>announcement.content</span>
            </p>
        </div>
        <script src="bower_components/sockjs-client/dist/sockjs.js"></script>
        <script src="bower_components/stomp-websocket/lib/stomp.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="js/announcement-app.js" type="text/javascript"></script>
        <script src="js/announcement-controller.js" type="text/javascript"></script>
    </body>
</html>